<div class="dashboard">
  <header class="dashboard-header">
    <h1>Team Dashboard</h1>
  </header>
  <br>
  <section class="data-section">
    <div class="data-table">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Team</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.Team }}</td>
            <td>{{ item.Total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
